<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677542947378-f4g24oabri8n477ccv3lk3jarqq2touo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677542947378-f4g24oabri8n477ccv3lk3jarqq2touo</string>
	<key>API_KEY</key>
	<string>AIzaSyAvHJSV1ojRe9uQIBO--YhZJEEzZpZiKek</string>
	<key>GCM_SENDER_ID</key>
	<string>677542947378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trigg.triggcc</string>
	<key>PROJECT_ID</key>
	<string>fintecc-178918</string>
	<key>STORAGE_BUCKET</key>
	<string>fintecc-178918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677542947378:ios:d7f54507ae26e692</string>
	<key>DATABASE_URL</key>
	<string>https://fintecc-178918.firebaseio.com</string>
</dict>
</plist>